*.py[co]

*.hf5
*.test

.DS_Store

# test stuff
test_*.py

# image files
#*.png Needed for some models
*.jpg
#*.svg Testing with some models

# Log files
*.log

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
