<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Help for script {{ script[:-3].title() }}</title>
</head>
<body>

<h1> Help for script {{ script[:-3].title() }} </h1>


<form name="input" action="plot.jpeg" method="get">

    <input type="hidden" name="script" value="{{script}}"/>
    <input type="hidden" name="type" value="scenario"/>
    
    
    <table>
    
    {% for arg in parser.arguments %}
    
    <tr>
    <td>
      {{ arg.name }}:
    </td>

    <td>
      {% if arg.choices %}
        <select name="{{ arg.name }}">
          {% for c in arg.choices %}
            <option {% if c == arg.default %}selected="selected" {% endif %}value={{ c }}>{{ c }}</option>
          {% endfor %}
        </select>
      {% else %}
        <input type="text" name="{{arg.name}}" value="{{arg.default if arg.default is not none else parameters.get(arg.name,[''])[0] }}"/>
      {% endif %}
    </td>
    <td>
      <font color="#aaaaaa">{{arg.help}}</font></td>
    </tr>
    
    {% endfor %}
    
    </table>

    <input type="submit" value="Submit" />
</form>
 

</body>
</html>
